@model StudentList;



<h2>Update Student</h2>


<form method="post" asp-action="UpdateStudent" asp-controller="Student" class='p-2 row gx-3 gy-2 align-items-center'>
    <div class="form-group">
        <label asp-for="StudentId"></label>
        <input class="form-control" asp-for="StudentId" />
    </div>
    <div class="form-group">
        <label asp-for="StudentName"></label>
        <input class="form-control" asp-for="StudentName" />
    </div>
    <div class="form-group">
        <label asp-for="StudentEmail"></label>
        <input class="form-control" asp-for="StudentEmail" />
    </div>
    <div class="form-group">
        <label class="input-group-text" asp-for="Course"></label>
        <select class="form-control" asp-items="@Html.GetEnumSelectList(typeof(Course))" asp-for="Course">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="DateEnrolled"></label>
        <input asp-for="DateEnrolled" class="form-control" />
    </div>
    <button type="button" onclick="history.back()" class="btn btn-secondary p-20">Cancel</button>
    <button type="submit" class="btn btn-primary p-20">Update</button>

</form>